<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.deliciaefoco.deliciaefoco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".HomeActivity" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.StoreActivity"
            android:label="@string/title_activity_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.CartActivity" />
        <activity android:name=".Activities.PayAfterActivity" />
        <activity
            android:name=".Activities.ConcludeSale"
            android:label="@string/title_activity_conclude_sale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.ProblemActivity" />
        <activity android:name=".Activities.SelectEmployeeActivity" />
        <activity android:name=".Activities.GiveBackActivity" />
        <activity android:name=".Activities.FinishGiveBackActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.TutorialActivity"></activity>
    </application>

</manifest>